@model List<Product>
@{
    var counter = Model.Count();
    var i = 1;
    if (User.IsInRole("seller") || User.IsInRole("admin"))
    {

        Layout = "_businessAccLayout";
    }
}



<div class="container">


    <div class="row" style="margin:30px; padding:10px">
        <table class="table table-bordered" style="text-align:center">

            <tr>
                <th>
                    #
                </th>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Size
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Code
                </th>
                <th>
                    Category Name
                </th>
                <th colspan="2">
                    Actions
                </th>
               
            </tr>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@i</td>
                    @{
                        i++;
                    }

                    <td>@item.Name</td>
                    <td>@item.price</td>
                    <td>@item.Size</td>
                    <td>@item.Quantity</td>
                    <td>@item.Code</td>
                    <td>@item.category.Name</td>
                    <td>
                        <a class="btn btn-dark" style="color:white; border: 1px solid red; background-color: #000000; " asp-action="Edit_product" asp-controller="Product" asp-route-id="@item.ID">Edit</a>

                    </td>خ

                    <td>
                        <a class="btn btn-dark" style="color:white; border: 1px solid red; background-color: #000000" asp-action="Delete_product" asp-controller="Product" asp-route-id="@item.ID" onclick="ConfirmDelete(event)">Delete</a>

                    </td>
                   
                </tr>

            }
        </table>
        <a class="btn btn-dark" style="color:white; border: 1px solid red;  background-color: #000000" asp-action="Add_product" asp-controller="Product">Add new Product</a>

        @if (User.IsInRole("admin"))
        {
            <a class="btn btn-dark" style="color:white; border: 1px solid red;  background-color: #000000" asp-action="Add_categoery" asp-controller="Category">Add new Categoery</a>
        }
    </div>



</div>









<script>
    function ConfirmDelete() {
        document.getElementById("")
        var accept = confirm("Are You Sure?");
        if (accept == false) {
            event.preventDefault();
        }
    }
</script>